/* header */
.header{
    background-color: aqua;
    padding-top: 20px;
    height: 100px;
}
.iFactura{
    position: absolute;
    top: 10px;
    width: 80px;
}
/* card */
.div-scroll{
    width: auto;
    height: 300px;
    overflow:scroll;
    scroll-behavior: smooth;
}
.new-item{
    margin-top: 10px;
}
.card-header{
    background-color: #cbcbe0;
}
.card-form{
    margin-top: 20px;
}
.boton{
    margin-top: 20px;   
}
.div-form{
    margin-top: 5px;
}
.btn-form{
    margin: 0px 5px;
    width: 40px;
    height: 40px;
}
.e-form{
    margin: 0px 10px;
}
